body{
    margin-bottom: 100px;
}

a.list-group-item{
    width: 95%;
    border-radius: 0;
    background-color: Transparent;
    color: #ffffff;
    padding: 10px;
    font-size:0.9em;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
a.list-group-item:hover{
    cursor: default;
}
a.list-group-item.active{
    background-color: #eeeeee;
    color:#222222;
    border-color: #eeeeee;
}
#main-container{
    padding-top: 70px;
}
#main-area{
    padding-left: 50px;
}

#currentMachineHeader{
    margin-bottom: 30px;
    margin-left: 10px;
}

#sys-uptime{
    font-size: 1.2em;
}

.meter{
    border-radius: 0px;
    display: block;
    width: 175px;
    margin: 5px;
    text-align: center;
    background-color: #444444;
}
.meter-info{
    display: inline-block;
    margin: 5px;
}
.meter-color{
    display: inline-block;
    margin-right: 5px;
    height: 10px;
    width: 10px;
}
.meter-usage{
    display: inline-block;
    width: 50px;
}
.usage-data{
    float: left;
    width: 50%;
    display: inline-block;
}
.misc-data{
    float: right;
    width: 50%;
    padding-top: 10px;
    display: inline-block;
}
.misc-data-component{
    margin-bottom: 5px;
}

.spec-component{
    margin-bottom: 20px;
    font-size: 0.8em;
    font-weight: bold;
    opacity: 1;
}

.spec-value{
    font-size: 1.5em;
    opacity: 1;
    font-weight: normal;
}

#specs-os{
    float: right;
    font-size: 9em;
    margin-right: 50px;
}

#specs{
    float: left;
}

.chart-info{
    border-radius: 0px;
    display: inline-block;
    width: 150px;
    margin-top: 5px;
    text-align: center;
    background-color: #444444;
}

h3{
    margin-bottom: 10px;
}

.row{
    margin-bottom: 20px;
}

.btn.btn-default{
    border-radius: 0px;
    background: transparent;
    border: 2px solid #dedede;
    color: #dedede;
    font-weight: bold;
}
.btn.btn-default:hover{
    background: #dedede;
    color: #222222;
}
.btn.btn-default:active{
    background: #eeeeee;
    color: #222222;
}

.test-list-item{
    background-color: transparent;
    border: 1px solid #dedede;
}
.test-list-item.active{
    background-color: #dedede;
    color: #222222;
}
.test-list-item:hover{
    background-color: #dedede;
    color: #222222;
    cursor: default;
}
.test-list-item:active{
    background-color: #eeeeee;
    color: #222222;
}
.test-list-item:first-child{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.test-list-item:last-child{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#custom-test{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}

#run-test-btn{
    margin-right: 20px;
}

#test-name-input{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: inline-block;
    width: 50%;
    border: 2px solid #dedede;
    background: #444444;
    color: #dedede;
}

#code-input{
    width: 100%;
    border: none;
    height: 300px;
}

#save-test-btn{
    display: inline-block;
}

.perf-test-chart{
    margin-bottom: 10px;
}

#steps-list{
    background-color: #444444;
    font-size: 1.1em;
    padding: 10px;
    margin: 2px;
    width: 80%;
    margin-bottom: 20px;
}

#bar-chart-wrapper h4{
    margin-top: 30px;
}

#line-chart-wrapper h4{
    margin-top: 30px;
}

#snapshots-wrapper h4{
    margin-top: 30px;
}

.snap-container{
    height: 400px;
    width: 80%;
    overflow: hidden;
    border: 1px solid #dedede;
    margin-top: 10px;
}

.nav > li > a{
    color: #bebebe;
}

.nav > li > a:hover{
    color: #222222;
}

.nav-list-item{
    color: #bebebe;
    margin-bottom: 5px;
}
.nav-list-item:hover{
    background-color: #dedede;
}
.nav-list-item.active{
    border-left: 4px solid #dedede;
    font-weight: bold;
    background-color: #333333;
}
.fa.nav-list-icon{
    margin-right: 5px;
    width: 20px;
}
.admin-machine-list-item{
    margin: 20px;
    width: 200px;
    padding: 20px;
    font-size: 1.1em;
    border: 2px solid #dedede;
}
.machine-list-item-del-btn{
    float: right;
}
.machine-list-item-del-btn:hover{
    opacity: 0.8;
    cursor: default;
}
#admin-login{
    padding: 10px;
}
