{% module headModuleTemplate("Cost Estimation",["js/cost.js","js/zingchart.min.js"]) %}

<div class="page-container">
    <!-- top navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Observer</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">
            {% module sideBarModuleTemplate() %}

            <!-- main area -->
            <div class="col-xs-12 col-sm-9" data-spy="scroll" data-target="#sidebar-nav">
                <h1 id="section1" class="row">Cost Estimation</h1>
                <div class="row">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="instance-type-list"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Choose Instance Type
                            <span class="caret"></span>
                        </button>
                        <ul id="instance-type-dropdown-menu" class="dropdown-menu" aria-labelledby="instance-type-list">
                        </ul>
                    </div>
                    <div id="current-instance-type"></div>
                    <div id="current-instance-type-details"></div>
                </div>
                <div class="row">
                    <h2>Utilization</h2>
                    <div><div id="usage-perc"></div></div>
                </div>
                <div class="row">
                    <div>Estimation Duration (in days): </div>
                    <div class="input-group">
                        <input id="days-duration-input" type="text" class="form-control"
                               placeholder="Days Duration">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="setEstimationDuration();">Set Duration
                        </button>
                      </span>
                    </div>
                    <h2>CPU demand curve</h2>
                    <div id="cpu_demand_curve"></div>
                    <div id="cpu_demand_stats"></div>
                    <div id="cpu_optimizations"></div>
                    <h2>RAM demand curve</h2>
                    <div id="ram_demand_curve"></div>
                    <div id="ram_demand_stats"></div>
                    <div id="ram_optimizations"></div>
                    <h2>Network demand curve</h2>
                    <div id="net_demand_curve"></div>
                    <div id="net_demand_stats"></div>
                    <div id="net_optimizations"></div>
                </div>
                <div class="row">
                    <h2>Total Cost</h2>
                    <h4 id="instance-reservation-cost"></h4>
                    <h4 id="bandwidth-data-cost"></h4>
                    <h3 id="monthly-cost"></h3>
                    <h3 id="yearly-cost"></h3>
                </div>
            </div>
            <!-- /.col-xs-12 main -->
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</div>
<!--/.page-container-->

</body>
</html>