{% module headModuleTemplate("Live Monitoring",["js/live.js","js/smoothie.js"]) %}
<body>
<div class="page-container">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Observer</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">

            {% module sideBarModuleTemplate() %}

            <!-- main area -->
            <div class="col-xs-12 col-sm-9" data-spy="scroll" data-target="#sidebar-nav">
                <h1 class="row" id="section1">Live Monitoring</h1>
                <div class="row">
                    <h3>System Uptime</h3>
                    <div id="sys-uptime"></div>
                </div>
                <div class="row">
                    <h3>CPU Usage</h3>
                    <canvas id="graph-cpu" width="800" height="200"></canvas>
                    <br>
                    <div id="cpu0-meter" class="badge badge-default"></div>
                    <div id="cpu1-meter" class="badge badge-default"></div>
                    <div id="cpu2-meter" class="badge badge-default"></div>
                    <div id="cpu3-meter" class="badge badge-default"></div>
                    <div id="cpu-misc-data">
                        <div id="cpu-ctx-switches"></div>
                        <div id="cpu-interrupts"></div>
                    </div>
                </div>
                <div class="row">
                    <h3>RAM/Swap usage</h3>
                    <canvas id="graph-ram" width="800" height="200"></canvas>
                    <br>
                    <div id="ram-meter" class="badge badge-default"></div>
                    <div id="swap-meter" class="badge badge-default"></div>
                    <div id="ram-swap-misc-data">
                        <div id="ram-available"></div>
                        <div id="ram-used"></div>
                        <div id="swap-total"></div>
                        <div id="swap-used"></div>
                    </div>
                </div>
                <div class="row">
                    <h3>Disk IO rate</h3>
                    <canvas id="graph-disk" width="800" height="200"></canvas>
                    <br>
                    <div id="disk-read-meter" class="badge badge-default"></div>
                    <div id="disk-write-meter" class="badge badge-default"></div>
                    <div id="disk-misc-data">
                        <div id="disk-total"></div>
                        <div id="disk-used"></div>
                    </div>
                </div>
                <div class="row">
                    <h3>Network IO counter</h3>
                    <canvas id="graph-network" width="800" height="200"></canvas>
                    <br>
                    <div id="net-send-meter" class="badge badge-default"></div>
                    <div id="net-recv-meter" class="badge badge-default"></div>
                    <div id="net-misc-data">
                        <div id="packets-sent-total"></div>
                        <div id="packets-recv-total"></div>
                        <div id="sent-total"></div>
                        <div id="recv-total"></div>
                    </div>
                </div>

            </div>
            <!-- /.col-xs-12 main -->
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</div>
<!--/.page-container-->

</body>
</html>