{% module headModuleTemplate("Performance Testing",["js/perf.js","js/Chart.js","js/Chart.HorizontalBar.js","js/smoothie.js"]) %}
<body>
<div class="page-container">

    <!-- top navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Observer</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">
            {% module sideBarModuleTemplate() %}

            <!-- main area -->
            <div class="col-xs-12 col-sm-9" data-spy="scroll" data-target="#sidebar-nav">
                <h1 class="row" id="section1">Performance Testing</h1>

                <div class="row">
                    <h3>Sample Tests</h3>

                    <div class="panel-group col-lg-9" id="test-custom">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 id="test-name-header" class="panel-title">
                                    Custom Test
                                </h4>
                            </div>
                            <div class="panel-body">
                                <textarea id="code-input"
                                          style="width:400px; height:300px; background-color:black; color:white;">
                                </textarea>
                            </div>
                            <div class="panel-footer">
                                <button type="button" class="btn btn-primary" onclick="runCustomTest()">Run Custom Test
                                </button>
                                <div class="input-group">
                                    <input id="test-name-input" type="text" class="form-control"
                                           placeholder="TestName...">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="saveTest()">Save Test
                                    </button>
                                  </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                        </div>
                    </div>
                    <!--test-custom-->

                    <div class="panel-group col-lg-3" id="tests-list">
                        <ul id="tests-list-group" class="list-group">
                        </ul>
                    </div>
                    <!--tests-list-->

                    <div class="panel-group col-lg-9" id="test-live-charts">
                        <div class="panel panel-default">
                            <div id="live-chart-container">
                            </div>
                        </div>
                    </div>

                    <div class="panel-group col-lg-9" id="test-result">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Test Results
                                </h4>
                            </div>
                            <div class="panel-body">
                                <div id="bar-chart-wrapper">
                                    <canvas id="bar-chart"></canvas>
                                </div>
                                <!--bar-chart-wrapper-->
                                <div id="line-chart-wrapper">
                                    <h4>CPU</h4>
                                    <canvas id="line-chart-cpu"></canvas>
                                    <h4>RAM</h4>
                                    <canvas id="line-chart-ram"></canvas>
                                    <h4>Disk</h4>
                                    <canvas id="line-chart-disk"></canvas>
                                    <h4>Network</h4>
                                    <canvas id="line-chart-net"></canvas>
                                </div>
                                <!--line-chart-wrapper-->
                                <div id="snapshots-wrapper">
                                    <h4>Snapshots</h4>
                                </div>
                                <!--snapshots-wrapper-->
                                <div id="save-wrapper">
                                    <h4>Save</h4>
                                    <button id="xlsx-save" class="btn btn-default" onclick="saveAs('XLXS');">Everything as XLSX</button>
                                    <button id="csv-save" class="btn btn-default" onclick="saveAs('CSV');">Data as CSV</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--test-result-->

                </div>

            </div>
            <!-- /.col-xs-12 main -->
        </div>
        <!--/.row-->

    </div>
    <!--/.container-->
</div>
<!--/.page-container-->

</body>
</html>