<div class="col-xs-6 col-sm-3" id="sidebar" role="navigation">
    <h4 id="currentMachineHeader"></h4>

    <div class="list-group" id="machines-remote">
    </div>
    <div data-spy="affix" data-offset-top="45" data-offset-bottom="90">
        <ul class="nav" id="sidebar-nav">
            <li><a href="live">Live Monitoring</a></li>
            <li><a href="stat">Statistical Usage Data</a></li>
            <li><a href="perf">Performance Testing</a></li>
            <li><a href="cost">Cost Estimation</a></li>
        </ul>
    </div>
</div>