<div class="col-xs-6 col-sm-3" id="sidebar" role="navigation">
    <h4 id="currentMachineHeader"></h4>

    <div class="list-group" id="machines-remote">
    </div>
    <div>
        <ul class="nav" id="sidebar-nav">
            <li id="live-nav" class="nav-list-item"><a href="live"><i class="fa fa-rss nav-list-icon" aria-hidden="true"></i>Live Monitoring</a></li>
            <li id="stat-nav" class="nav-list-item"><a href="stat"><i class="fa fa-area-chart nav-list-icon" aria-hidden="true"></i>Statistical Usage Data</a></li>
            <li id="perf-nav" class="nav-list-item"><a href="perf"><i class="fa fa-tachometer nav-list-icon" aria-hidden="true"></i>Performance Testing</a></li>
            <li id="cost-nav" class="nav-list-item"><a href="cost"><i class="fa fa-usd nav-list-icon" aria-hidden="true"></i>Cost Estimation</a></li>
        </ul>
    </div>
</div>